form {
  border-radius: 5px;
  padding: 10px;
  max-width: 700px;
  margin: 10px auto;
  background: rgba(100, 97, 97, 0.5);

  .btn {
    background: #7b1fa2;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: block;
    border: none;
    font-size: 16px;
  }
}

.add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 10px 0;

  label {
    display: block;
  }

  input {
    width: 95%;
    height: 30px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  textarea {
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
}
